* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 2px solid black;
}

body {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}

.body-container {
    height: 100vh;
    width: 100vw;
    padding: 2vw;
    display: flex;
    gap: 1.5vw;
}

div {
    background-color: hsla(0, 56%, 8%, 0.2);
    height: 100%;
    width: 100%;
}

div .main-layout {
    border-radius: 15px;
}

.main-1 {
    flex: initial;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.vertical-layout {
    display: grid;
    grid-template-rows: 70px 20fr 30fr 55fr;
    gap: 1.5vw;
}

.company-header {
    flex: initial;
    height: 80px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-pages {
    height: 100%;
}

.nav-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vh;
    list-style: none;
}

.nav-item {
    padding: 2vh;
    margin: 0 2vh;
    border-radius: 50px;
}

.nav-item i {
    margin-right: 0.5vw;
}

.nav-item:first-child {
    margin-top: 2vh;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-item.active, .nav-item:hover {
    background-color: #00000060;
}

.nav-item:last-child.active, .nav-item:last-child:hover {
    background-color: transparent;
}

.main-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 7vh;
}

.search-bar {
    height: 70%;
    width: 20vw;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%; 
}

.user-details {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 2vh;
    padding-right: 2vh;
}

.user-details img {
    border-radius: 50px;
}

.main-3 {
    display: flex;
    justify-content: space-around;
}

.urgency-status {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    z-index: 1;
    position: absolute;
    margin-left: -20px;
    margin-top: -20px;
}

.task-card {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    padding: 1vh;
    border-radius: 10px;
    position: relative;
}

.task-card-task {
    display: grid;
    justify-content: right;
    text-align: right;
}

.task-card-due {
    margin-top: 1vh;
}

.main-4 {
    position: relative;
    width: 100%;
    display: flex;
    overflow-x: auto; /* Allows horizontal scrolling */
    white-space: nowrap;
    gap: 10px;
    overflow: hidden;
}

.department-card {
    flex: 0 0 calc(20% - 10px);
    display: grid;
    grid-template-rows: 1fr 0.6fr 0.3fr 0.3fr;
    height: 100%;
    padding: 2vh;
    max-width: 250px;
    border-radius: 10px;
}

.employee-images {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    gap: 10px;
}

.employee-image {
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

.department-tasks {
    align-self: center;
}

.department-scroll-button {
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 50px;
    position: fixed;
    right: 2vh;
    align-self: center;
    justify-content: center;
    z-index: 200;
    display: grid;
    place-items: center;
}



