* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 2px solid black;
}

body {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}

.body-container {
    height: 100vh;
    width: 100vw;
    padding: 2vw;
    display: flex;
    gap: 1.5vw;
}

div {
    background-color: hsla(0, 56%, 8%, 0.2);
    height: 100%;
    width: 100%;
}

div .main-layout {
    border-radius: 15px;
}

.main-1 {
    flex: initial;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.vertical-layout {
    display: grid;
    grid-template-rows: 70px 20fr 30fr 55fr;
    gap: 1.5vw;
}

.company-header {
    flex: initial;
    height: 80px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-pages {
    height: 100%;
}

.nav-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vh;
    list-style: none;
}

.nav-item {
    padding: 2vh;
    margin: 0 2vh;
    border-radius: 50px;
}

.nav-item i {
    margin-right: 0.5vw;
}

.nav-item:first-child {
    margin-top: 2vh;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-item.active {
    background-color: #00000060;
}

.nav-item:last-child.active {
    background-color: transparent;
}


